
  .body,.infoBody,.topBarBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
  }

  .topBarBody{
    padding: 0;
    margin: 0;
  }

  .topBar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  
  .infoBody{
    align-items: flex-start;
    padding: 10px 30px;
    margin: 10px 30px;
  }
  .info{
    width: 60%;
    height: auto;
    margin-bottom: 20px;
  }

  .infoRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .name{
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #0d6efd;
  }

  .email{
    font-size: 20px;
    margin-top: -10px;
    color: #0d6efd;
  }

  .role{
    margin-top: 15px;
    font-size: 30px;
    color: #0d6efd;
  }

  .avatarPolice{
    background-image: url(../../images/pavatar.png);
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  .avatarCitizen{
    background-image: url(../../images/cavatar.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 100px;
  }

  .container,
  .container3,
  .container4{
    width: 90%;
    border: 2px solid blue;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
  }
  
  
  .container3,
  .container4{
    border: none;
    width: 98%;
  }


  .header {
    background-color: blue;
    width: parent;
    height: 40px;
    font-size: large;
    padding-left: 20px;
    padding-top: 8px;
  }
  
  .header b {
    color: aliceblue;
  }
  
  .boxesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
  }
  
  .box1,
  .box2,
  .box3,
  .box4 {
    width: 23%;
    height: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box1 {
    background-color: darkblue;
  }
  
  .box2 {
    background-color: red;
  }
  
  .box3 {
    background-color: grey;
  }
  
  .box4 {
    background-color: green;
  }
  
  .num {
    font-size: 4vh;
    color: aliceblue;
    animation: countAnimation 1s ease-out;
  }
  
  .text {
    color: aliceblue;
  }
  
  .label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    }
  

.row{
justify-content: space-between;
align-items: center;
}

.row,.row1{
  padding: 10px;
  display: flex;
flex-direction: row;
}

.row2,.row5,.row3{
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.rowButton{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.row4{
  display: flex;
  flex-direction: row;
}
.column,
.column1{
  display: flex;
flex-direction: column;
}

.column2{
  margin-left: 16px;
  }

.column > div > select {
  width: 230px; 
}

.cell,
.cell1{
  border: 0.5px ridge grey;
  width: 12%;
  font-weight: bold;
  background-color: #fff;
}

.cell1{
  background-color: azure;
}



  .formControl,
  .formControl1,
  .formControl2,
  .formControl3 {
    display: block;
    width: 230px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .formControl1{
    width: 330px;
  }
  .formControl2{
    width: 80px;
  }

  
  .formControl:focus,.formControl1:focus,.formControl2:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.5px blue;
  }
  
  
  .SearchButton{
    background-color: blue;
    color: aliceblue;
    border: none;
    outline: none;
    width: 110px; 
    border-radius: 10px;
    height: 60px;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0; 
}
.excelButton{
  background-color: green;
  color: aliceblue;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
 font-size: 15px; 
 width: 150px;
 height: 40px;

 
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
}
.boxer{
  width: 350px;
  display: flex;
}
.SearchButton:hover{
    background-color: skyblue;
    color: black;
}

.excelButton:hover{
  background-color: skyblue;
  color: black;
}

  @keyframes countAnimation {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media screen and (max-width: 1515px) {
    
    /* .row,.row1,.row2{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 100px;
    }
    .column{
      flex-basis: 50%; 
      margin-bottom: 20px; 
    } */
    .formControl1{
      width: 230px;
    }
    
    
      .excelButton{
        margin-bottom: 10px;
      }
      
  }
  @media screen and (max-width: 1068px) {
    .formControl1{
      width: 190px;
    }
    .row4{
      display: flex;
      flex-wrap: wrap;
    }
    .cell,.cell1{
      flex-basis: 50%;
    } 
  }

  @media screen and (max-width: 902px) {
    .row,.row1,.row2{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    .formControl1{
      width: 540px;
    }
  }

  @media screen and (max-width: 680px) {
    .container {
      width: 95%;
      height: auto;
    }
  
    .boxesContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .box1,
    .box2,
    .box3,
    .box4 {
      width: 80%;
      margin-bottom: 10px;
    }
  
    .header {
      font-size: medium;
    }
  
    .num {
      font-size: 3vh;
    }
    .row5{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
    }
  }

  @media screen and (max-width : 768px){
    
    .formControl1{
      width: 370px;
    }
    .excelButton{
        margin-bottom: 10px;
      }
      .row4{
        display: flex;
        flex-wrap: wrap;
      }
      .cell,.cell1{
        flex-basis: 50%;
      }  
  }
  @media screen and (max-width: 440px) {
    .formControl1{
      width: 275px;
    }
    .infoRow{
      margin-left: 20px;
    }
    .avatarCitizen,.avatarPolice{
      width: 100px;
      height: 100px;
    }
    .name,.email,.role{
      font-size: 20px;
      margin-top: 0;
    }
    .infoBody{
      margin: 10px;
      padding: 10px;
    }
  }
  @media screen and (max-width: 400px) {
    .infoRow{
      margin-left: 10px;
    }
  }
  @media screen and (max-width: 380px) {
    .formControl1{
      width: 275px;
    }
    .infoRow{
      margin-left: 0px;
    }
    .formControl3{
      width: 175px;
    }
    .row2,.boxer,.resp{
      align-items: self-start;
      margin-left: 20px;
    }
    .excelButton{
      margin-left: 60px;
    }
  }
  @media screen and (max-width: 330px) {
    .formControl1{
      width: 230px;
    }
    .formControl3{
      width: 105px;
    }
    .row2,.boxer{
      align-items: self-start;
      margin-left: 10px;
    }
    .excelButton{
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 360px) {
    .infoRow{
      flex-direction: column;
    }
    .infoRow{
      margin-left: 60px;
    }
    .infoBody{
      margin: 0px;
      padding: 0px;
    }
  }