
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
  }
  
  .container,
  .container3,
  .container4{
    width: 90%;
    border: 2px solid blue;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
  }
  
  
  .container3,
  .container4{
    border: none;
  }


  .header {
    background-color: blue;
    width: parent;
    height: 40px;
    font-size: large;
    padding-left: 20px;
    padding-top: 8px;
  }
  
  .header b {
    color: aliceblue;
  }
  
  .boxesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
  }
  
  .box1,
  .box2,
  .box3,
  .box4 {
    width: 23%;
    height: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box1 {
    background-color: darkblue;
  }
  
  .box2 {
    background-color: red;
  }
  
  .box3 {
    background-color: grey;
  }
  
  .box4 {
    background-color: green;
  }
  
  .num {
    font-size: 4vh;
    color: aliceblue;
    animation: countAnimation 1s ease-out;
  }
  
  .text {
    color: aliceblue;
  }
  
  .label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    }
  

.row{
justify-content: space-between;
align-items: center;
}

.row,.row1{
  padding: 10px;
  display: flex;
flex-direction: row;
}

.row2,.row5,.row3{
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}


.row4{
  display: flex;
  flex-direction: row;
}
.column,
.column1{
  display: flex;
flex-direction: column;
}

.column2{
  margin-left: 16px;
  }

.column > div > select {
  width: 230px; 
}

.cell,
.cell1{
  border: 0.5px ridge grey;
  width: 12%;
  font-weight: bold;
  background-color: #fff;
}

.cell1{
  background-color: azure;
}

.align{
  margin: 0 26px;
}
.align2{
  margin-left: 7px;
}
.align1{
  margin-left: 30px;
}
.align4{
  margin-left: 10px;
}
.align5{
  margin-right: 10px;
}
.alter{
  display: none;
}
  .formControl,
  .formControl1,
  .formControl2,
  .formControl3 {
    display: block;
    width: 230px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  

  .formControl2{
    width: 80px;
  }

  
  .formControl:focus,.formControl1:focus,.formControl2:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.5px blue;
  }
  
  
  .SearchButton{
    background-color: blue;
    color: aliceblue;
    border: none;
    outline: none;
    width: 110px; 
    border-radius: 10px;
    height: 60px;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0; 
}
.excelButton{
  background-color: green;
  color: aliceblue;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
 font-size: 15px; 
 width: 150px;
 height: 40px;

 
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
}
.boxer{
  width: 350px;
  display: flex;
}
.SearchButton:hover{
    background-color: skyblue;
    color: black;
}

.excelButton:hover{
  background-color: skyblue;
  color: black;
}

  @keyframes countAnimation {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media screen and (max-width: 1460px) {
    
    .row,.row1,.row2{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
    }
    .formControl{
      width: 1024px;
    }
    .column > div > select {
      width: 1024px; 
    }
    .column2{
      margin-left: 0px;
      }
      .align4{
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
      .boxer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .resp{
        display: flex;
        flex-direction: row;
      }
      .size{
        display: none;
      }
      .alter{
        display: block;
      }
      .align,.align1,.align2,.align4,.align5{
        margin-left: 0;
        margin-right: 0;
      }
      .label{
        margin-top: 5px;
      }
      .excelButton{
        margin-bottom: 10px;
      }
      
  }
  @media screen and (max-width: 1188px) {
    .formControl{
      width: 768px;
    }
    .column > div > select {
      width: 768px; 
    }
  }

  @media screen and (max-width: 902px) {
    .formControl{
      width: 540px;
    }
    .column > div > select {
      width: 540px; 
    }
  }

  @media screen and (max-width: 680px) {
    .container {
      width: 95%;
      height: auto;
    }
  
    .boxesContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .box1,
    .box2,
    .box3,
    .box4 {
      width: 80%;
      margin-bottom: 10px;
    }
  
    .header {
      font-size: medium;
    }
  
    .num {
      font-size: 3vh;
    }
    .row5{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
    }
  }

  @media screen and (max-width : 768px){
    
    .formControl{
      width: 370px;
    }
    .column > div > select {
      width: 370px; 
    }
    .column2{
      margin-left: 0px;
      }
      .align4{
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
      .boxer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .resp{
        display: flex;
        flex-direction: row;
      }
      .size{
        display: none;
      }
      .alter{
        display: block;
      }
      .align,.align1,.align2,.align4,.align5{
        margin-left: 0;
        margin-right: 0;
      }
      .label{
        margin-top: 5px;
      }
      .excelButton{
        margin-bottom: 10px;
      }
      .row4{
        display: flex;
        flex-wrap: wrap;
      }
      .cell,.cell1{
        flex-basis: 50%;
      }
  }
  @media screen and (max-width: 440px) {
    .formControl{
      width: 275px;
    }
    .column > div > select {
      width: 275px; 
    }
  }
  @media screen and (max-width: 380px) {
    .formControl{
      width: 275px;
    }
    .formControl3{
      width: 175px;
    }
    .column > div > select {
      width: 275px; 
    }
    .row2,.boxer,.resp{
      align-items: self-start;
      margin-left: 20px;
    }
    .excelButton{
      margin-left: 60px;
    }
    .resp{
      margin-left: 70px;
    }
  }
  @media screen and (max-width: 330px) {
    .formControl{
      width: 230px;
    }
    .formControl3{
      width: 105px;
    }
    .column > div > select {
      width: 230px; 
    }
    .row2,.boxer{
      align-items: self-start;
      margin-left: 10px;
    }
    .excelButton{
      margin-left: 30px;
    }
  }